body{
    display: grid;
    place-items: center;
}

#element{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

#element:hover{
    cursor: pointer;
}

